# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# macOS system files
.DS_Store

# Virtual environments
venv/
env/

# VSCode settings
.vscode/

# Logs
*.log